.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.wrap1{
    width: 100%;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.wrap1 div h1{
    letter-spacing: 5px;
}
.wrap1 div h3{
    color: #06b;
    font-weight: lighter;
}
.wrap1 a{
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid black;
    outline: 0px solid black;
    transition: .1s all;
    text-decoration: none;
    color: #15172b;
    border-radius: 30px;
    font-size: 15px;
}
.wrap1 a:hover{
    background-color: #15172b;
    color: white;
}
.wrap2 {
    height: 100vh;
    justify-content: center;
    align-items: start;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 400px;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    // outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

table {
    width: 100%;
    height: 50%;
    text-align: center;
    border-collapse: collapse;
}


table th {
    background-color: #15172b;
    color: white;
}

table td{
    border-bottom: 1px solid #15172b;
}
